In [1]:
name="sparsh"
Name="kandwal"
print(name)
print(Name)

sparsh
kandwal

In [ ]:
##indentation

In [7]:
age=34
if age>30:
    print(age)
    age=age+1

print(age+5)

34
40

In [10]:
total=1+3+5+4\
+4+3+2
print(total)

22

In [11]:
x=5;y=10;z=x+y
print(z)

15

In [13]:
variable=12
print(type(variable))
print(type(name))

<class 'int'>
<class 'str'>

In [27]:
if True:
    print("hello")
    if False:
        print("falcon")
    print("error")
print("loading")

hello
error
loading

In [7]:
val=input("enter number")
print(val)
print(type(val))

34
<class 'str'>

In [8]:
age=35
type(age)

int

In [10]:
pi=3.14
print(type(pi))

<class 'float'>

In [11]:
tre="keit jenner"
type(tre)

str

In [15]:
is_true=True
print(is_true)
q=10
j=10
type(q==j)

True

bool

In [20]:
result="hello"+str(5)
print(result)
val=10

type(str(val))

hello5

str

In [27]:
a=10
b=6
add=a+b
sub=a-b
mul=a*b
div=a/b
floor=a//b
modulus=a%b
exponential=a**b
print(add)
print(sub)
print(div)
print(floor)
print(modulus)
print(exponential)

16
4
1.6666666666666667
1
4
1000000

In [31]:
##comparasion
a=10
b=10
a==b

True

In [34]:
str1="sparsh"
str2="Sparsh"
str1!=str2

True

In [39]:
a=45
b=33
print(a>b)
print(a<b)

True
False

In [45]:
num1=46
num2=45
print(num1<=num2)

False

#### Logical operator

In [49]:
x=True
y=False
print(x or y)

True

In [56]:
x=10
not x

False

In [58]:
age=15
if age<13:
    print("you are a child")
elif age<18:
    print("You are a teenager")
else:
    print("you are a adult")

You are a teenager

In [60]:
num=int(input("Enter the Number"))
if num>0:
    print("THe number is positive")
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")
else:
    print("the number is zero or negative")

THe number is positive
the number is even

In [62]:
year=int(input("Enter the year"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year,"is not a leap year")

2016 is a leap year

In [5]:
range(1,7,2)

range(1, 7, 2)

In [12]:
for i in range(10,1,-3):
    print(i)

10
7
4

In [14]:
str="sparsh kandwal"
for i in str:
    print(i)

s
p
a
r
s
h

k
a
n
d
w
a
l

In [17]:
count=0
while count<10:
    print(count)
    count=count+1

0
1
2
3
4
5
6
7
8
9

In [19]:
count=0
while count%2==0:
    print(count)
    count=count+1
print(count)

0
1

In [21]:
##loop control statements
## break
for i in range(5):
    if(i==3):
        break
    print(i)

0
1
2

In [23]:
##pass
## pass is null function
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [25]:
##nested loops
##loop inside loop
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [28]:
##example
val=int(input("enter number"))
i=0
count=0
while i<=val:
    count=count+i
    i=i+1
print(count)

15

In [33]:
count=0
for i in range(val+1):
    count=count+i
print(f"Sum of first {val} numbers is ",count)

Sum of first 5 numbers is  15

In [35]:
##prime number between 1-100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [1]:
##continue
for i in range(10):
    if(i%2==0):
        continue
    print(i)

1
3
5
7
9

In [2]:
##list are ordered mutable collection of items
##they can contain items of different datatypes  
lst=[]
type(lst)

list

In [3]:
names=["sparsh","kandwal",1,2,3]
print(names)

['sparsh', 'kandwal', 1, 2, 3]

In [20]:
fruits=["apple","banana","cherry","kiwi","pineapple"]
print(fruits[0])
print(fruits[2])
print(fruits[-2])

apple
cherry
kiwi

In [21]:
print(fruits[2:])
print(fruits[2:4])
print(fruits[-1:])
print(fruits[-3:-1])

['cherry', 'kiwi', 'pineapple']
['cherry', 'kiwi']
['pineapple']
['cherry', 'kiwi']

In [22]:
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'pineapple']

In [23]:
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'pineapple']

In [28]:
fruits.append("pomegranate")
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'pineapple', 'guvava', 'guvava', 'pomegranate', 'pomegranate', 'pomegranate']

In [33]:
fruits.remove("pomegranate")
print(fruits)

['apple', 'cherry', 'kiwi', 'pineapple', 'guvava', 'guvava']

In [39]:
fruits.insert(2,"guvava")
print(fruits)

['apple', 'cherry', 'guvava', 'pomegranate', 'kiwi', 'pineapple', 'guvava', 'guvava']

In [40]:
fruits.remove("guvava")
print(fruits)

['apple', 'cherry', 'pomegranate', 'kiwi', 'pineapple', 'guvava', 'guvava']

In [41]:
popped_fruit=fruits.pop()
print(popped_fruit)
print(fruits)

guvava
['apple', 'cherry', 'pomegranate', 'kiwi', 'pineapple', 'guvava']

In [42]:
fruits.index("cherry")

1

In [44]:
fruits.append("apple")
fruits.count("apple")

2

In [45]:
fruits.sort()
fruits

['apple', 'apple', 'cherry', 'guvava', 'kiwi', 'pineapple', 'pomegranate']

In [49]:
fruits.reverse()
print(fruits)

['apple', 'apple', 'cherry', 'guvava', 'kiwi', 'pineapple', 'pomegranate']

In [54]:
fruits.clear()
print(fruits)

[]

In [53]:
fruits.insert(2,"pomegranate")

In [55]:
##slicing list
numbers=[1,2,3,4,5,6,7,8,9]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [56]:
print(numbers[::3])

[1, 4, 7]

In [57]:
##iterating over list
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9

In [59]:
##including the index
for index,i in enumerate(numbers):
    print(index,i)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [61]:
##list comprension
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
even_numbers=[i for i in range(10) if i%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [64]:
lst1=[1,2,3,4]
lst2=['a','b','c']
pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [2, 'a'], [2, 'b'], [2, 'c'], [3, 'a'], [3, 'b'], [3, 'c'], [4, 'a'], [4, 'b'], [4, 'c']]

In [65]:
words=['hello','world','python','is','here']
lengths=[len(word) for word in words]
print(lengths)

[5, 5, 6, 2, 4]

Tuple

In [66]:
empty_tuple=()
print(type(empty_tuple))

<class 'tuple'>

In [68]:
list10=[1,2,3,4,5]
val=tuple(list10)
print(val)
type(list10)

(1, 2, 3, 4, 5)

list

In [69]:
## tuple operations
value=(1,2,3,4,5)
mixed_type=(3.14,"hello doraemon",89,True)
print(value+mixed_type)

(1, 2, 3, 4, 5, 3.14, 'hello doraemon', 89, True)

In [70]:
##immutable nature of tuples
value[0]=12
print(value)

TypeError: 'tuple' object does not support item assignment

In [72]:
##tuple methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [73]:
##packing and unpacking
packed_tuple=1,3.14,"heo kdo"
print(packed_tuple)

(1, 3.14, 'heo kdo')

In [76]:
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
3.14
heo kdo

In [77]:
numbers=(2,3,4,6,4,6,7)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

2
[3, 4, 6, 4, 6]
7

In [80]:
lst=[[1,2,3],["fjel","flshf",5],[3,4,6]]

In [84]:
lst[0][0:2]

[1, 2]

In [87]:
lst=[[1,2,3],["fjel","flshf",5],(3,4,6)]
lst[2]

(3, 4, 6)

In [2]:
lst=((1,2,3),("fjel","flshf",5),(3,4,6),(True,False))
type(lst)

tuple

In [8]:
my_set={1,2,3,4,6}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 6}
<class 'set'>

In [12]:
##adding and removing element
my_set.add(7)
print(my_set)
my_set.remove(3)
print(my_set)

{1, 2, 4, 6, 7}

KeyError: 3

In [14]:
my_set.discard(1)
print(my_set)

{2, 4, 6, 7}

In [15]:
removed_ele=my_set.pop()
print(removed_ele)

2

In [16]:
print(15 in my_set)
print(7 in my_set)

False
True

In [20]:
##mathematical operations
set1={1,2,3,4,5,6}
set2={6,7,8,9,10}
print(set1.union(set2))
print(set1.intersection(set2))
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{6}
{6}

In [21]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9,10}

In [24]:
print(set1.difference(set2))
set1.symmetric_difference(set2)

{1, 2, 3}

{1, 2, 3, 7, 8, 9, 10}

In [25]:
print(set1.issubset(set2))

False

In [26]:
text="in this tutorial we are discussing about sets"
words=text.split()
unique=set(words)
print(unique)
print(len(unique))

{'in', 'are', 'this', 'discussing', 'about', 'sets', 'tutorial', 'we'}
8

In [27]:
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [28]:
student={'name':'sparsh','age':20,'collage':'NSIT'}
print(student)
print(type(student))

{'name': 'sparsh', 'age': 20, 'collage': 'NSIT'}
<class 'dict'>

In [30]:
## single key should be used
student={'name':'sparsh','age':20,'collage':'NSIT'}
print(student)

{'name': 'sparsh', 'age': 20, 'collage': 'NSIT'}

In [32]:
print(student["name"])

sparsh

In [34]:
print(student.get('collage'))

NSIT

In [ ]:
## modifying dicstionary
## dicstionary are mutable you can add update and delete element

In [35]:
student["address"]="INdia"
print(student)

{'name': 'sparsh', 'age': 20, 'collage': 'NSIT', 'address': 'INdia'}

In [37]:
del student['address']
print(student)

{'name': 'sparsh', 'age': 20, 'collage': 'NSIT'}

In [39]:
keys=student.keys()
print(keys)

dict_keys(['name', 'age', 'collage'])

In [40]:
item=student.items()
print(item)

dict_items([('name', 'sparsh'), ('age', 20), ('collage', 'NSIT')])

In [43]:
##shallow copy
student_copy=student.copy()
print(student_copy)

{'name': 'hello', 'age': 20, 'collage': 'NSIT'}

In [46]:
student["name"]="rty"
print(student)
print(student_copy)

{'name': 'rty', 'age': 20, 'collage': 'NSIT'}
{'name': 'hello', 'age': 20, 'collage': 'NSIT'}

In [47]:
for keys in student.keys():
    print(keys)

name
age
collage

In [48]:
for val in student.values():
    print(val)

rty
20
NSIT

In [50]:
for a,b in student.items():
    print(f"{a}:{b}")

name:rty
age:20
collage:NSIT

In [51]:
##nested
students={
    "student1":{"name":"sparsh","age":20},
    "student2":{"name":"peter","age":34}
}
print(students)

{'student1': {'name': 'sparsh', 'age': 20}, 'student2': {'name': 'peter', 'age': 34}}

In [53]:
print(students["student1"]["name"])

sparsh

In [55]:
x=0
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [56]:
squar={x:x**2 for x in range(10) if x%2==0}
print(squar)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [58]:
cal=[1,2,2,2,3,4,5,5,5]
freq={}
for num in cal:
    if num in freq:
        freq[num]+=1
    else:
        freq[num]=1
print(freq)

{1: 1, 2: 3, 3: 1, 4: 1, 5: 3}

In [60]:
##merge 2 dicstionary into one
dict1={"a":1,"b":8,"c":32}
dict2={"b":5,"d":21}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 5, 'c': 32, 'd': 21}

In [3]:
def even_or_odd(num):
    """this function cheaks even or odd"""
    if(num%2==0):
        print("even number")
    else:
        print("odd")
print(even_or_odd(24))
print(even_or_odd(35))

even number
None
odd
None

In [5]:
def add(a,b):
    return a+b

In [6]:
print(add(4,9))

13

In [15]:
def greet(name="Guest"):
    print(f"hello {name} How are you?")

In [16]:
greet()
(greet("sparsh"))

hello Guest How are you?
hello sparsh How are you?

In [19]:
### variable length argument
## positional and keyword arguments
def function(*krish):
    for a in krish:
        print(a)

In [20]:
function(1,2,3,"jrsh")

1
2
3
jrsh

In [35]:
### keywords argumnets always in key value pair
##positional arguments are defined by *
##keyword arguments are represented by **
def print_detail(*args,**kwargs):
    for val in args:
        print(f"pos args are {val}")
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [36]:
print_detail(1,2,3,"hellq",name="sparsh",age="20",country="India")

pos args are 1
pos args are 2
pos args are 3
pos args are hellq
name:sparsh
age:20
country:India

In [41]:
## return statement
def multiply(a,b):
    return a,b,{"{a-b}"},a*b

In [42]:
multiply(4,9)

(4, 9, {'{a-b}'}, 36)

In [46]:
##temperature converstion
def convert_temp(temp,unit):
    if unit=="C":
        return 9/5*temp +32,"in farenheit"
    elif unit=="F":
        return (temp-32)*5/9,"in celcius"
    else:
        return None

In [48]:
print(convert_temp(32,"C"))
print(convert_temp(88,"F"))

(89.6, 'in farenheit')
(31.11111111111111, 'in celcius')

In [49]:
##password strength cheaker
def is_strong_password(password):
    """This function cheaks is strong or not"""
    if len(password)<8:
        return False
    if not any(i.isdigit() for i in password):
        return False
    if not any(i.islower() for i in password):
        return False
    if not any(i.isupper() for i in password):
        return False
    if not any(i in '!@#$%^&*()_+' for i in password):
        return False
    return True

In [51]:
print(is_strong_password("sddfjS2"))

False

In [52]:
##calculate the total cost of items in shopping cart
def calculate_total(quantity):
    total_cost=0
    for item in quantity:
        total_cost+=item['price']*item['quantity']
    return total_cost

In [53]:
cart=[
    {'name':'apple','price':0.5,'quantity':4},
    {'name':'banana','price':0.3,'quantity':12},
    {'name':'kiwi','price':0.9,'quantity':7}
]
print(calculate_total(cart))

11.899999999999999

In [54]:
def is_palindrome(s):
    s=s.lower().replace(" ","")
    return s==s[::-1]

In [57]:
is_palindrome("abcb A")

True

In [58]:
##calculate factorial using factorial
def factorial(n):
    if(n==0):
        return 1
    else:
        return n*factorial(n-1)

In [59]:
factorial(5)

120

In [62]:
## afunction to read a file and count the frequeny of each word
def count_word_frequeny(filepath):
    wordcount={}
    with open(filepath,'r') as file:
        for line in file:
            words=line.split()
            for word in words:
                word=word.lower().strip('.,;:|')
                wordcount[word]=wordcount.get(word,0)+1
    return wordcount

In [63]:
print(count_word_frequeny("requirenments.txt"))

{'hello': 2, 'i': 2, 'am': 2, 'reading': 1, 'this': 2, 'requirenment': 1, 'file': 1, 'in': 2, 'python': 2, 'and': 1, 'will': 1, 'return': 1, 'the': 1, 'count': 1, 'value': 1, 'studying': 1, 'language': 1}

In [6]:
##nested tuple
for items in lst:
    for i in items:
        print(i,end=" ")
    print()

1 2 3
fjel flshf 5
3 4 6
True False